//pallete
$blue: #54abad;
$downy: #70cbcf;
$green-lightsea: #17a2b8;
$grey: #dadada;
$grey-dark: #515151;
$grey-light: #a7a7a7;
$limedspruce: #36454f;
$orange: #f39f1e;
$red: #d9001b;
$white: #ffffff;
$yellow: #ffd932;
$light-green: #f0f9fa;
$purple : #6C3595;

// color variant
$color-primary: $downy;
$color-secondary: $orange;

// color state
$color-danger: $red;