
@mixin desktop {
  @media (min-width: 480px) { @content; }
}

@mixin mobile {
  @media (max-width: 480px) { @content; }
}

// Small devices (landscape phones, 576px and up)
@mixin mq-phones {
  @media (max-width: 576px) {
      @content;
  }
}

// Medium devices (tablets, 768px and up)
@mixin mq-tablets {
  @media (max-width: 768px) {
      @content;
  }
}

// Large devices (desktops, 992px and up)
@mixin mq-desktop {
  @media (max-width: 992px) {
      @content;
  }
}

// Extra large devices (large desktops, 1200px and up)
@mixin mq-large-desktop {
  @media (max-width: 1200px) {
      @content;
  }
}

// Mixins
// --------------------------

@mixin fa-icon {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
}

@mixin fa-icon-rotate($degrees, $rotation) {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=#{$rotation})";
  transform: rotate($degrees);
}

@mixin fa-icon-flip($horiz, $vert, $rotation) {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=#{$rotation}, mirror=1)";
  transform: scale($horiz, $vert);
}


// Only display content to screen readers. A la Bootstrap 4.
//
// See: http://a11yproject.com/posts/how-to-hide-content/

@mixin sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Use in conjunction with .sr-only to only display content when it's focused.
//
// Useful for "Skip to main content" links; see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
//
// Credit: HTML5 Boilerplate

@mixin sr-only-focusable {
  &:active,
  &:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}

@mixin tooltip(
        $tooltip-background-color: white,
        $tooltip-arrow-base: 2em,
        $tooltip-arrow-length: 1em,
        $tooltip-border-width: 0,
        $tooltip-border-color: transparent,
        $tooltip-transition-out-duration: .3s
    ) {
    // Sizing and positioning
    box-sizing: border-box;
    position: absolute;
    left: -6%;
    margin-bottom: $tooltip-arrow-length;

    // Text and color properties.
    background-color: $tooltip-background-color;
    text-align: center;

    // Animated properties.
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, $tooltip-arrow-length);
    transition:
        visibility 0s linear $tooltip-transition-out-duration,
        opacity $tooltip-transition-out-duration ease-in 0s,
        transform $tooltip-transition-out-duration ease-in 0s;

    // Disable events.
    pointer-events: none;

    &::after {
        content: "";
        position: absolute;
        top: 100%; left: 50%;
        width: 0; height: 0;
        // Draw a triangle.
        border-top: ($tooltip-arrow-length - $tooltip-border-width) solid $tooltip-background-color;
        border-left: ($tooltip-arrow-base / 2 - $tooltip-border-width) solid transparent;
        border-right: ($tooltip-arrow-base / 2 - $tooltip-border-width) solid transparent;
        // Center the triangle.
        margin-left: ($tooltip-border-width - $tooltip-arrow-base / 2);
    }

    // Specific styles when the tooltip has a border
    @if $tooltip-border-width {
        border: $tooltip-border-width solid $tooltip-border-color;

        &::before {
            content: "";
            position: absolute;
            top: 100%; left: 50%;
            width: 0; height: 0;
            // Draw another triangle to simulate a border.
            border-top: $tooltip-arrow-length solid $tooltip-border-color;
            border-left: ($tooltip-arrow-base / 2) solid transparent;
            border-right: ($tooltip-arrow-base / 2) solid transparent;
            // Center the triangle.
            margin-left: ($tooltip-arrow-base / -2);
        }
    }
}

@mixin has-tooltip($tooltip-transition-in-duration: .3s) {
    position: relative;
    // Prevent the tooltip from being clipped by its container.
    overflow: visible;

    // Display the tooltip on hover and on focus.
    &:hover, &:focus {
        .tooltip {
            visibility: visible;
            opacity: 1;
            transform: translate(-50%, 0); // horizontally centered
            transition:
                visibility 0s linear 0s,
                opacity $tooltip-transition-in-duration ease-out 0s,
                transform $tooltip-transition-in-duration ease-out 0s;
        }
    }
}
