.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-normal {
  font-weight: normal;
}

$spacer: 5;

@for $i from 0 through 5 {
  .margin-top-#{$i} {
    margin-top: #{$spacer * $i}px;
  }

  .margin-bottom-#{$i} {
    margin-bottom: #{$spacer * $i}px;
  }

  .margin-right-#{$i} {
    margin-right: #{$spacer * $i}px;
  }

  .margin-left-#{$i} {
    margin-left: #{$spacer * $i}px;
  }

  .margin-#{$i} {
    margin: #{$spacer * $i}px;
  }

}

@for $i from 0 through 5 {
  .padding-top-#{$i} {
    padding-top: #{$spacer * $i}px;
  }

  .padding-bottom-#{$i} {
    padding-bottom: #{$spacer * $i}px;
  }

  .padding-right-#{$i} {
    padding-right: #{$spacer * $i}px;
  }

  .padding-left-#{$i} {
    padding-left: #{$spacer * $i}px;
  }

  .padding-#{$i} {
    padding: #{$spacer * $i}px;
  }

}

.hide-desktop {
  @include desktop {
    display: none;
  }
}

.hide-large-desktop {
  @include mq-large-desktop {
    display: none;
  }
}

.hide-mobile {
  @include mobile {
    display: none;
  }
}