@import './mixins';
@import './image';
@import './colors';
@import './utils';
@import './layout';
@import './fontawesome';
@import './solid';

body {
  @include mobile {
    margin: 0px;
  }
}

h4 {
  margin: 20px 0px 20px 0px;
}

hr {
  border: 0.5px solid $grey;
  width: 100%;
}

html {
  font-family: freight-sans-pro,Helvetica Neue,sans-serif;
  font-weight: 400;
  color: #343434;
  font-size: 1.2rem;
}

i {
  color: $grey-dark;
}

li {
  float: left;
  padding-left: 2px;
  padding-right: 2px;

  @include mobile {
    padding-left: 0px;
    padding-right: 0px;
    > img {
      width: 90%;
    }
  }
}

p {
  font-size: 1em;
  margin: 5px 0px 5px 0px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.col {
  @include flexbox;
  @include flex-direction(column);
}

.col-item {
  @include flex(1);
}

.container {
  padding: 0px 4rem;
  margin-top: 50px;

  @include mobile {
    padding: 0px;
    margin-top: 0px;
  }
  
  @include mq-tablets {
    padding: 0px;
    margin-top: 0px;
  }

  @include mq-desktop {
    padding: 0px;
    margin-top: 0px;
  }

};

.container-description {
  padding: 0px 0px 0px 0px;
  margin-bottom: 15px;
}

.container-info-icon {
  margin-top: 30px;
  justify-content: space-between;

  @include mobile {
    margin-top: 20px;
  }
}

.content-description {
  font-size: 0.8em;
  width: 80%;

  @include mobile {
    padding: 0px 15px 0px 15px;
    margin-top: 0px;
    width: 90%;
  }
  
  @include mq-tablets {
    padding: 0px 15px 0px 15px;
    margin-top: 0px;
    width: 90%;
  }

  @include mq-desktop {
    padding: 0px 15px 0px 15px;
    margin-top: 0px;
    width: 90%;
  }
}

.container-menu-item {
  @include flexbox;
  @include justify-content(flex-end);
  @include flex(auto);

  > p {
    background-color: #F5F5F5;
    padding: 10px;
    line-height: 1.3rem;
    font-weight: 400;
  }
}

.has-tooltip {
  top: 1px;
  font-size: 1rem;
  padding-left: 5px;
  @include has-tooltip($tooltip-transition-in-duration: .3s);
  
  @include mobile {
    top: 6px;
    width: 0px;
  }
}

.logo-mobile {
  @include align-items(center);
  > img {
    width: 60%;
  }
}

.number {
  color: #8DC63F;
  font-size: 1.3rem;
}

.number-container {
  
  @include mobile {
    background-color: #F5F5F5;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 15px;
  }
}

.number-description {
  margin: auto;
  font-weight: 500;
  font-size: 0.9rem;
}

.item-menu {
  @include flexbox;
  @include align-items(center);

  > p {
    padding-left: 15px;

    @include mobile {
      padding-left: 10px;
      font-size: 0.7rem;
    }
  }

  > i {
    margin: auto;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 1.1rem;
  }
}

.row {
  @include flexbox;
  @include flex-direction(row);
}

.rating-desktop {
  padding: 0px 0px 0px 50px;
  width: 170px;
  @include flexbox;
  @include justify-content(flex-start);
  @include align-items(center);
  
  @include mobile {
    display: none;
  }

  @include mq-tablets {
    display: none;
  }

  @include mq-desktop {
    display: none;
  }

  @include mq-large-desktop {
    display: none;
  }
}

.rating-mobile {  
  @include desktop {
    display: none;
  }
}

.title {
  font-size: 2rem;
  color: $purple;

  @include mobile {
    font-size: 1.2rem;
  }

  @include mq-tablets {
    font-size: 1.2rem;
  }

  @include mq-desktop {
    font-size: 1.2rem;
  }

  @include mq-large-desktop {
    font-size: 1.2rem;
  }
}

.title-mobile {
  @include mobile {
    @include flex(auto);
    padding: 10px 10px 10px 10px;
  }
}

.tooltip-with-border {
  @include tooltip(
      $tooltip-background-color: white,
      $tooltip-arrow-base: 1.5em,
      $tooltip-arrow-length: .75em,
      $tooltip-border-width: .05em,
      $tooltip-border-color: #999,
      $tooltip-transition-out-duration: .2s
  );
  color: #333;
}

.tooltip-without-border {
  @include tooltip(
      $tooltip-background-color: $grey-dark,
      $tooltip-arrow-base: 1em,
      $tooltip-arrow-length: .5em,
      $tooltip-transition-out-duration: .2s
  );
  font-size: 14px;
  width: 250px;
  color: #fff;
  text-align: start;
}

.tooltip {
  position: relative;
  display: inline-block;
  top: -35px;

  padding: 5px;
  box-shadow: 0 .05em .15em rgba(black, .1);
  border-radius: 2px;

  @include mobile {
    position: absolute;
    top: -45px;
    left: 15px;
  }


}

.tooltip .tooltip-text {
  width: 15rem;
  visibility: hidden;
  font-size: 0.8rem;
  background-color: $grey-dark;
  color: #fff;
  text-align: center;
  padding: 5px 0;
 
  position: absolute;
  z-index: 1;
  top: 25px;
  left:-130px;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.video-container {
  @include align-items(flex-end);
  
  @include mobile {
    display: none;
  }

  @include mq-tablets {
    display: none;
  }

  @include mq-desktop {
    display: none;
  }

  @include mq-large-desktop {
    display: none;
  }
}

.video-item {
  position: relative;
  top: 50px;
}
  

