<script>
  import "@Styles/styles.scss";
  import Row from '@Components/row.svelte';
  import Col from '@Components/col.svelte';
  import Title from '@Components/title.svelte';
  import Video from '@Components/video.svelte';
  import Description from '@Components/description.svelte';
</script>

<div class="container">
  <Row>
    <Col className="container-description">
      <Title /> 
      <Description />
    </Col>
    <Video />
  </Row>
</div>
