<script>
  import "@Styles/styles.scss";
  import Col from './col.svelte';
  import Row from './row.svelte';
  import Information from '@Components/information.svelte';
  import InformationMobile from '@Components/informationMobile.svelte';
  import video from '@Assets/video.jpg';
</script>

<div class="content-description">
    <Col>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo imperdiet ex ac porta. Aliquam erat volutpat. Pellentesque non mi nec ex ultricies auctor. Donec finibus tortor nisl, rhoncus congue ligula mollis ac.</p>
    </Col>
    <Col>
        <p>Praesent porttitor consectetur enim, non consectetur odio ullamcorper eu. Curabitur eget metus ipsum. Aenean sed erat ut orci pellentesque gravida. Donec euismod at turpis nec venenatis. Donec finibus tortor nisl, rhoncus congue ligula mollis ac.</p>
    </Col>
    <Col>
        <p>Nunc bibendum non tortor eget molestie. Sed viverra ante nec massa volutpat sollicitudin. In maximus erat tincidunt magna luctus, sit amet suscipit diam mattis. Nunc lobortis malesuada ligula non viverra. Duis quis viverra est. Nulla rhoncus fringilla semper. Etiam consectetur suscipit dolor, eu volutpat ipsum semper tincidunt.</p>
    </Col>
    <img class="hide-desktop" src={video} alt="video" width="100%"/>
    <br />
    <hr class="hide-mobile" />
    <div class="hide-mobile">
        <Information />
    </div>
    <div class="hide-desktop">
        <InformationMobile />
    </div>
</div>
