<script>
  import { slide } from 'svelte/transition';
  import "@Styles/styles.scss";
  import Col from './col.svelte';
  import Row from './row.svelte';
  import computer from '@Assets/computer.svg';
  import document from '@Assets/document.svg';
  import location from '@Assets/location.svg';
  import toga from '@Assets/toga.svg';
  import Item from './item.svelte'

  let isShow = false;
  const show = () => {
    isShow = !isShow;
  }

</script>

<Row className="container-info-icon">
    <Item icon={document} text="34 Courses" />
    <Item icon={toga} text="Private Provider" />
    <Item icon={location} text="NSW +4" accordian show={show} isShow={isShow} />
    <Item icon={computer} text="Online +1" accordian show={show} isShow={isShow} />   
</Row>
<div class="container-menu-item">
  {#if isShow}
    <p transition:slide>Geelong Victoria Melbourne Victoria Werribee Victoria</p>
  {/if}
</div>