<script>
  import "@Styles/styles.scss";
  import Col from './col.svelte';
  import Row from './row.svelte';
  export let icon, text, accordian, isShow, show, addingClass;
</script>

<div on:click|preventDefault={show} class={`item-menu ${addingClass}`}>
    <img src={icon}  alt="icon" />
    <p>{text}</p>
    {#if accordian}
      <i class={isShow ? "fas fa-chevron-up" : "fas fa-chevron-down"} />
    {/if}
</div>
