<script>
  import "@Styles/styles.scss";
  import Col from './col.svelte';
  import Row from './row.svelte';
  import Tooltip from './tooltip.svelte';
  import rating from '@Assets/star.svg';
  import logo from '@Assets/logo.jpg';

</script>

<Row>
    <Col className="title-mobile">
      <p class="title hide-desktop">Online College</p>
      <Row>
          <div class="rating-mobile">
            <ul>
              <li>
                <img src={rating}  alt="star" />
              </li>
              <li>
                <img src={rating}  alt="star" />
              </li>
              <li>
                <img src={rating}  alt="star" />
              </li>
              <li>
                <img src={rating}  alt="star" />
              </li>
              <li>
                <img src={rating}  alt="star" />
              </li>
            </ul>
          </div>
          <div class="hide-desktop hide-desktop" style="width: 0px">
            <Tooltip />
          </div>
      </Row>
    </Col>
    <Col className="logo-mobile">
      <img class="hide-desktop" src={logo}  alt="logo" width="70%" />
    </Col>
    <p class="title hide-mobile">Online College</p>
    <div class="rating-desktop">
      <ul>
        <li>
          <img src={rating}  alt="star" />
        </li>
        <li>
          <img src={rating}  alt="star" />
        </li>
        <li>
          <img src={rating}  alt="star" />
        </li>
        <li>
          <img src={rating}  alt="star" />
        </li>
        <li>
          <img src={rating}  alt="star" />
        </li>
      </ul>
    </div>
    <div class="hide-mobile hide-large-desktop">
      <Tooltip />
    </div>
</Row>
<aside class="number-container">
  <Row className="margin-top-3 margin-bottom-3">
      <Col>
        <p class="number">4,157</p>
      </Col>
      <Col className="padding-left-2">
        <p class="number-description">Students have view online College's Courses this week </p>
      </Col>
  </Row>
</aside>