<script>
    import "@Styles/styles.scss";
</script>


<span class="has-tooltip">
    <i class="fas fa-info-circle" />
    <span class="tooltip tooltip-without-border" role="tooltip">
        Provider rating based on reviews of students previously enrolled
    </span>
</span>