<script>
  import "@Styles/styles.scss";
  import Col from './col.svelte';
  import Row from './row.svelte';
  import logo from '@Assets/logo.jpg';
  import video from '@Assets/video.jpg';
</script>

  <div class="col video-container">
    <img src={logo}  alt="logo" />
    <div class="video-item">
      <img src={video}  alt="video" />
    </div>
  </div>
